body {
    text-align: left, justify;
}

.navigation {
    list-style: none;
    display: flex;
    background-color: #333;
    align-items: center;
}

.navigation a {
    color: burlywood;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
}