* {
    margin: 0;
    padding: 0;
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: #88abfd;
    justify-content: space-around;
    padding: 1rem;
    color:aliceblue;
    font-size: 1.5rem;
    
}

.navigation a {
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navigation a:hover {
    background-color: yellow;
}

body {
    display: block;
}

.headerText {
    background-color: beige;
    padding: 1rem;
    display: grid;
    grid-column: span;
    justify-content: center;
    color: #6d94f0;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#main-image {
    width: auto;
    height: 100%;
}

main{
    background-color: seashell;
    gap: 1rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card{
    float:left;
    width: 50%;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#about-me {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#about-me-text {
    flex: 1;
    margin-right: 1rem;
}

#place {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#place-text {
    text-align: center;
}
#place-image {
    width: 100%;
    height: auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
}

#sub-heading {
    justify-content: center;
    font-size: 2em;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

footer {
    display: block;
    justify-content: center;
    background-color: beige;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding: 1rem;
}