* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}

.place-title {
  color: antiquewhite;
  justify-content: center;
  background-color: red;
  font-family: "Caveat", cursive;
  font-weight: 800;
  font-style: normal;
  display: flex;
  padding: 1rem;
}

.place-container {
    position: relative;
    width: 100%;
    max-width: none;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
}


footer {
  display: flex;
  justify-content: center;
  background-color: beige;
  font-family: "Caveat", cursive;
  font-weight: 800;
  font-size: 1.5rem;
  font-style: normal;
  padding: 1rem;
}

.data, .weather {
  background: lightgray;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  font-family: "Mochiy Pop One", sans-serif;
}

.data {
  align-self: flex-start;
  
}

.data-title, .weather-title{
  display: flex;
  justify-content: center;
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 100;
  color: rgb(250, 250, 249);
}

.weather {
  align-self: flex-end;
  align-items: center;
  
}