* {
  margin: 0;
  padding: 0;
}

.menu {
  padding: 1rem;
  position: relative;
  display: flex;
  background-color: #88abfd;
  gap: 1rem;
}

.navigation {
  display: none;
}

.hamburger {
  height: 50px;
  width : 50px;
  margin-left: auto;
  position: relative;
}

.hamburger span {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease;
}

.hamburger span:nth-child(1) {
  top: 25%;
}

.hamburger span:nth-child(3) {
  top: 75%;
}

.hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0%;
}

.hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu {
  background-color: blueviolet;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transition: 1s ease;

}

.off-screen-menu.active {
  right: 0;

}

main{
  background-color: seashell;
  gap: 1rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: max-content;
}

footer {
  display: block;
  justify-content: center;
  background-color: beige;
  font-family: "Caveat", cursive;
  font-weight: 800;
  font-style: normal;
  padding: 1rem;
}

#temple-text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  text-align: center;
}

.header {
  background-color: aqua;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}